*{
  margin: 0;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 24px;
}

h1{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

header{
  background: #00a0f0;
  height: 50px;
  color: rgba(256, 256, 256, .7);
  transition: .2s;
}

header .contheader{
  max-width: 800px;
  margin: auto;
}

header .contheader .burguermenu{
  width: 47px;
}

header .contheader .burguermenu i{
  padding: 13px;
  
}

header .contheader .burguermenu i:hover{
  color: white;
  
}

header .contheader .nombre svg{
  height: 50px;
  float: right;
  opacity: .7;
  transition: .2s;
}

header .contheader .nombre svg:hover{
  opacity: 1;
}

.creador .contfondo{
  width: 100%;
  margin: auto;
  max-width: 800px;

}
.creador img{
  width: 100%;
  
}

.creador .nombre{
  color: grey;
  
}

.valores{
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
}

.item h2{
  color: white;
  text-align: center;
  margin-top: 12px;
}

.owl-stage{
}

.owl-item{
  background: rgba(0, 0, 0, .9);
}

.owl-carousel{
  background: url(../assets/fondo-creador/1x/comics.png);

  background-position: center; /* Center the image */
  background-size: contain; /* Resize the background image to cover the entire container */

}

/* COLORES */

.contColores{
  margin: 30px auto 0;
  
  max-width: 800px;
  height: 300px; 
  
  background: grey;
}

.contColores div{
  color: white;
  
}
.contColores div h1{
  font-size: .8em;
  margin-top: 40px;
  margin-bottom: 0;
}

.contColores .principal{
  background: #00a0f0;
}
.contColores .comp1{
  background: #00aef3;
}
.contColores .comp2{
  background: #008eee;
}

.colorActive{
  height: 100%;
}

.colorNoActive{
  height: 0;
}

.contColores .row{
  margin: 0;
}

.principal .colorQ{
  margin-top: 70px;
}

.principal p{
  margin-bottom: 10px;
}