@font-face{
  font-family: American Captain;
  src: url(../assets/Fuente/American\ Captain.ttf)
}

*{
  margin: 0;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 24px;

}
body{
  background: #00a0f0;
  transition: ease 1s;
}
.row{
  margin: 0;
}

h1{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

header{
  background: #00a0f0;
  height: 50px;
  color: rgba(256, 256, 256, .7);
  transition: .2s;
}

header .contheader{
  max-width: 800px;
  margin: auto;
}

header .contheader .burguermenu{
  width: 47px;
}

header .contheader .burguermenu i{
  padding: 13px;
  
}

header .contheader .burguermenu i:hover{
  color: white;
  
}

header .contheader .nombre svg{
  height: 50px;
  float: right;
  opacity: .7;
  transition: .2s;
}

header .contheader .nombre svg:hover{
  opacity: 1;
}

/* -------CREADOR------- */
.creador{
  width: 100%;
  margin: 0;
}

.contnombre{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.contfondo{
  width: 100%;

}

.creador img{
  width: 100%;
  
}
/* ---------------- */
/* SLIDER VALORES */
.valores{
  margin: auto;
  margin-top: 30px;
  /* max-width: 800px; */
}

.item h2{
  color: white;
  text-align: center;
  margin-top: 12px;
}

.owl-item{
  background: rgba(0, 0, 0, .7);
}

.owl-carousel{
  background: url(../assets/fondo-creador/fondo1-01.png);

  background-position: center; /* Center the image */
  background-size: contain; /* Resize the background image to cover the entire container */

}

/* COLORES 1*/
.contCambiodecolor{
  /* height: 200px; */
  margin-top: 30px;
}
.colorescent .activecolor{
  width:90px;
  height:90px;
}
.colorescent{
  margin: auto;
  color: white;
}
.colorescent .circulo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: white solid 3px;
  transition: ease .2s;

  position: absolute;
  right: 0;
}


.aPrincipal{
  background: #00a0f0;
}
.aComp1{
  background: #00aef3;
}
.aComp2{
  background: #008eee;
}

.nombrecolor{
  margin-bottom: 15px;
}
.nombrecolor:last-child{
  margin-bottom: 0;
}



/* COLORES 2*/

.contColores{
  margin: 30px auto 0;
  
  max-width: 800px;
  height: 300px; 
  
  background: grey;
}

.contColores div{
  color: white;
  
}
.contColores div h1{
  font-size: .8em;
  margin-top: 40px;
  margin-bottom: 0;
}

.contColores .principal{
  background: #00a0f0;
}
.contColores .comp1{
  background: #00aef3;
}
.contColores .comp2{
  background: #008eee;
}

.colorActive{
  height: 100%;
}

.colorNoActive{
  height: 0;
}

.contColores .row{
  margin: 0;
}

.principal .colorQ{
  margin-top: 70px;
}

.principal p{
  margin-bottom: 10px;
}

.comp1, .comp2{
  padding: 0 30px 0;
}

/* .tipografia{
  font-family: American Captain;
} */

.tipografia{
  margin: 30px auto 0;
  color: white;
  text-align: center;
}

.tipografia > div{
  /* height: 81px; */
  background: rgba(0, 0, 0, .3);
}

.tipografia .fuentePrincipal h1{
  font-family: American Captain;
  padding: 10px 0 0;
  margin-bottom: 0;
}

.tipografia .prin h2{
  color: white;
  text-align: center;
  margin-top: 12px;
  font-family: American Captain;
}

.tipografia .fuenteComp h1{
  font-family: 'Caveat', cursive;
  padding: 10px 0 0;
  margin-bottom: 0;
}

/* CONSTRUCCION DEL LOGO*/

/* botones */ 
  .botones{
    padding: 20px;
  }
  
  .botones > div{
    padding: 10px;
    /* width: 50%; */
    /* height: 450px; */
  }
  
  .botones > div > div{
    font-size: 24px;
    font-family: 'Anton', sans-serif;
    text-align: center;  
    color: white;
  }
  .botones > div:visited > div{
    background: gray;
  }
  
  .btn-prev div{
    height: 35px;
    width: 35px;
    background: #00aef3; 
    border-radius: 50%;

    position: absolute;
    right: 0;
  }
  
  .btn-next div{
    height: 35px;
    width: 35px;
    background: #00aef3; 
    border-radius: 50%;
  }


/* construccion */

.construccionDelLogo{
  margin: 30px auto 0;
  position: relative;
}


.construccionDelLogo .contImages:first-child{
  position: static;
}

.construccionDelLogo .contImages{
  margin: 0 auto 0;
  position: absolute;

  visibility: visible;
  opacity: 0;
  top: 0;
  
  transition: .5s;
  
}
.construccionDelLogo .contImages img{
  width: 100%;
}

.contImages.opacityactive{
  opacity: 1;
}

/* --------------- */
/* SLIDER APLICACIONES */
/* .slide{
  margin-top: 30px;
} */

footer{
  width: 100%;
  height: 100px;
  background: #008eee;
  color: white;
  text-align: center;
}

footer svg{
  height: 100px;
  opacity: .8;
}