@font-face{
  font-family: American Captain;
  src: url(../assets/Fuente/American\ Captain.ttf)
}

*{
  margin: 0;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 24px;
}

h1{
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
}

header{
  background: #00a0f0;
  height: 50px;
  color: rgba(256, 256, 256, .7);
  transition: .2s;
}

header .contheader{
  max-width: 800px;
  margin: auto;
}

header .contheader .burguermenu{
  width: 47px;
}

header .contheader .burguermenu i{
  padding: 13px;
  
}

header .contheader .burguermenu i:hover{
  color: white;
  
}

header .contheader .nombre svg{
  height: 50px;
  float: right;
  opacity: .7;
  transition: .2s;
}

header .contheader .nombre svg:hover{
  opacity: 1;
}

.creador .contfondo{
  width: 100%;
  margin: auto;
  max-width: 800px;

}
.creador img{
  width: 100%;
  
}

.creador .nombre{
  color: grey;
  
}

.valores{
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
}

.item h2{
  color: white;
  text-align: center;
  margin-top: 12px;
}

.owl-item{
  background: rgba(0, 0, 0, .9);
}

.owl-carousel{
  background: url(../assets/fondo-creador/1x/comics.png);

  background-position: center; /* Center the image */
  background-size: contain; /* Resize the background image to cover the entire container */

}

/* COLORES */

.contColores{
  margin: 30px auto 0;
  
  max-width: 800px;
  height: 300px; 
  
  background: grey;
}

.contColores div{
  color: white;
  
}
.contColores div h1{
  font-size: .8em;
  margin-top: 40px;
  margin-bottom: 0;
}

.contColores .principal{
  background: #00a0f0;
}
.contColores .comp1{
  background: #00aef3;
}
.contColores .comp2{
  background: #008eee;
}

.colorActive{
  height: 100%;
}

.colorNoActive{
  height: 0;
}

.contColores .row{
  margin: 0;
}

.principal .colorQ{
  margin-top: 70px;
}

.principal p{
  margin-bottom: 10px;
}

.comp1, .comp2{
  padding: 0 30px 0;
}

/* .tipografia{
  font-family: American Captain;
} */

.tipografia{
  max-width: 800px;
  margin: 30px auto 0;
  color: white;
  text-align: center;
}

.tipografia > div{
  /* height: 81px; */
  background: black;
}

.tipografia .fuentePrincipal h1{
  font-family: American Captain;
  padding: 25px 0 0;
  margin-bottom: 0;
}

.tipografia .prin h2{
  color: white;
  text-align: center;
  margin-top: 12px;
  font-family: American Captain;
}

.tipografia .fuenteComp h1{
  font-family: 'Caveat', cursive;
  padding: 25px 0 0;
  margin-bottom: 0;
}

/* CONSTRUCCION DEL LOGO*/

/* botones */ 
  .botones{
    max-width: 80 0px;
    position: relative;
    margin: auto;
    z-index: 20;
  }
  
  .botones div{
    font-size: 33px;
    font-family: 'Anton', sans-serif;
    width: 50%;
  }

  .btn-prev{
    position: absolute;
    left: 0;
  }

  .btn-next{
    position: absolute;
    right: 0;
  }
/* construccion */

.construccionDelLogo{
  margin: 30px auto 0;
  max-width: 800px;
  height: auto;
}

.construccionDelLogo .contImages:nth-child(1){
  z-index: 15;
}
.construccionDelLogo .contImages:nth-child(2){
  z-index: 14;
}
.construccionDelLogo .contImages:nth-child(3){
  z-index: 13;
}
.construccionDelLogo .contImages:nth-child(4){
  z-index: 12;
}
.construccionDelLogo .contImages:nth-child(5){
  z-index: 11;
}
.construccionDelLogo .contImages:nth-child(6){
  z-index: 10;
}
.construccionDelLogo .contImages:nth-child(7){
  z-index: 9;
}
.construccionDelLogo .contImages:nth-child(8){
  z-index: 8;
}
.construccionDelLogo .contImages:nth-child(9){
  z-index: 7;
}
.construccionDelLogo .contImages:nth-child(10){
  z-index: 6;
}
.construccionDelLogo .contImages:nth-child(11){
  z-index: 5;
}
.construccionDelLogo .contImages:nth-child(12){
  z-index: 4;
}
.construccionDelLogo .contImages:nth-child(13){
  z-index: 3;
}
.construccionDelLogo .contImages:nth-child(14){
  z-index: 2;
}
.construccionDelLogo .contImages:nth-child(15){
  z-index: 1;
}
.construccionDelLogo .contImages{
  max-width: 800px;
  height: auto;
  margin: 0 auto 0;
  position: absolute;

  visibility: visible;
  opacity: 1;
  
  
}
.construccionDelLogo .contImages img{
  width: 100%;
}